.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}
.header-container__logo {
  margin-right: 93px;
}
.header-container__logo-item {
  color: #000000;
}
.logo__footer {
  margin-bottom: 20px;
}
.logo__footer--color {
  color: var(--alter-text-color);
}
