.subscript {
  padding-top: 0px;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    // padding-top: 8px;
  }
}
.subscript__thumb {
  margin-top: 60px;
  align-items: center;

  @media screen and (min-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
}

.subscript__form {
  margin-top: 20px;
  display: block;
  // align-items: center;
  & > input {
    width: 100%;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--dark-backgr-color);
  }
  & > input::placeholder {
    padding: 15px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 768px) {
    & > input {
      max-width: 450px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    & > input {
      width: 358px;
      margin-right: 12px;
    }
  }
}

.subscript__svg {
  fill: var(--hov-link-color);
  margin-left: 10px;
}
.subscript__button {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 0;
  cursor: pointer;

  color: var(--hov-link-color);

  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}
