:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --main-text-color: #212121;
  --alter-text-color: #ffffff;
  --parag-text-color: #757575;
  --hov-color: #2196f3;
  --dark-backgr-color: #2f303a;
  --button-backgr-color: #f5f4fa;
  --icons-color: #afb1b8;
  --hov-link-color: #ffffff;
  --modal-bg-col: rgba(0, 0, 0, 0.2);
}
