.section-hero {
  background-color: var(--dark-backgr-color);
  min-width: 280px;
  height: 400px;
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header_mob_x2.jpg);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header_tab_x2.jpg);
    max-width: 1199.98px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    min-height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header_desc_x2.jpg);
  }
}
.section-hero__element {
  margin-left: auto;
  margin-right: auto;
}
.section-hero__title-text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 0;
  color: var(--alter-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
