.team {
  background: var(--button-backgr-color);
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.team__item {
  margin-top: 30px;

  @media screen and (min-width: 480px) and (max-width: 767.98px) {
 flex-basis: 100%;}

  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
    flex-basis: calc((100% - 2 * 30px) / 2);}

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin-top: 0;
  }
  }

.title-text-team {
  margin-bottom: 0;
  font-size: 28px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team__worker-card {
  padding-bottom: 24px;
  padding-top: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
.team__name-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  color: var(--main-text-color);
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
